# fibonacci series

In [30]:
a=0
b=1
c=0
while a<150:
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89
144

# divisible by 7 and 5

In [5]:
for x in range(1500,2701):
    if x % 7 == 0 and x % 5 == 0:
        print(x)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# celsius to fahrenheit and fahrenheit top celsius

In [26]:
temp = input("Enter the temperature here:").upper().strip()
if temp[-1]=='C':
    temp1 = (int(temp[:-1])*(9/5) + 32) 
    print(str(temp1)+'F')
else:
    temp1 = (int(temp[:-1]) - 32)*(5/9)
    print(str(temp1)+'C')

Enter the temperature here:45f
7.222222222222222C

# Write a Python program to guess a number between 1 to 9

In [1]:
n = int(input("Guess a number: "))
while True:
    if n >= 1 and n <= 10:
        print("Well Guessed!")
        break
    else:
        print("Try Again, sorry")
        n = int(input("Guess a number: "))
        continue

Guess a number: 55
Try Again, sorry
Guess a number: 44
Try Again, sorry
Guess a number: 66
Try Again, sorry
Guess a number: 5
Well Guessed!

 # Write a Python program to construct the following pattern, using a nested for loop.
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

In [18]:
for row in range(5):
    for column in range(row+1):
        print("*", end=" ") 
    print()
    
for row in range(4,0,-1):
    for column in range(row):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
n=5
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Write a Python program that accepts a word from the user and reverse it.

In [23]:
word = input("GIVE WORd/s: ")
store = ""

for w in range(len(word)-1, -1, -1):
    store += word[w]

print('\n',store)

GIVE WORd/s: official tech

 hcet laiciffo

In [25]:
word = input("GIvE ANY WORD: ").strip() # strip is used to remove exta space
for jb in range(len(word)-1, -1, -1):
    print(word[jb], end="")

GIvE ANY WORD: jin chao
oahc nij

# Write a Python program to count the number of even and odd numbers from a series of numbers.

In [28]:
# li_st = [1,2,3,4,5,6,7,8,9,10]
# use any one these list or tuple
tu_ple = (1,2,3,4,5,6,7,8,9,10)

ev_no = 0
od_no = 0

for numbers in range(len(tu_ple)):
    if not tu_ple[numbers] % 2:
        ev_no += 1
    else:
        od_no += 1
    
print("Number of odd numbers", od_no)
print("Number of even numbers", ev_no)

Number of odd numbers 5
Number of even numbers 5

# Write a Python program that prints each item and its corresponding type from the list.

In [33]:
data_list = [808, 11.23, 1+2j, True, 'official tech', (0, -1), [5, 12], {"class":'J', "section":'R'}]

for data in data_list:
    print(type(data), data)
    print()

<class 'int'> 808

<class 'float'> 11.23

<class 'complex'> (1+2j)

<class 'bool'> True

<class 'str'> official tech

<class 'tuple'> (0, -1)

<class 'list'> [5, 12]

<class 'dict'> {'class': 'J', 'section': 'R'}

# Write a Python program to get the Fibonacci series between 1 to 50.

In [40]:
first, second = 0, 1

while second < 50:
    first, second = second, first + second
    print(first)

1
1
2
3
5
8
13
21
34

# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [34]:
for number in range(7):
    if number == 3 or number == 6:
        continue
    print(number)

0
1
2
4
5

# Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [2]:

for jb in range(1,51):
    if jb % 3 == 0 and jb % 5 == 0:
        print("FizzBuzz")
    elif jb % 3 == 0:
        print("Fizz")
    elif jb % 5 == 0:
        print("Buzz")
    else:
        print(jb)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Write a Python program that accepts a string and calculate the number of digits and letters.

In [3]:
str_ = input("Alpha numeric character ")

digit = 0
alpha = 0
for s in str_:
    if s.isdigit():
        digit += 1
        
    elif s.isalpha():
        alpha += 1
        
    else:
        pass

print("Number of Characters is =", alpha)
print("Number of Digits is =", digit)

Alpha numeric character jin chao 123
Number of Characters is = 7
Number of Digits is = 3

In [5]:
str_ = input("Alpha numeric character ")

digit = 0
alpha = 0
for s in range(len(str_)):
    if str_[s].isdigit():
        digit += 1
        
    elif str_[s].isalpha():
        alpha += 1
        
    else:
        pass

print("Number of Characters is =", alpha)
print("Number of Digits is =", digit)

Alpha numeric character jin chao 123
Number of Characters is = 7
Number of Digits is = 3

# Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [46]:
# according to Question it's wrong solution
for even in range(100,401,2):
    if even % 2 == 0:
        print(even, end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,

# read above question again till you didn't get, according to above question above answer is wrong

In [45]:

list_space = []
for even in range(100,401,2):
    e = str(even)
    if (int(e[0]) % 2 == 0) and (int(e[1]) % 2 == 0) and (int(e[2]) % 2 == 0):
        list_space.append(e)
        

print(",".join(list_space))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

# print string having size of 3

In [26]:
_list = ['jb', 'jin', 'john', 'doe', 'idiot']

[ x for x in _list if len(x) == 3]

['jin', 'doe']

In [27]:
_list = ['jb', 'jin', 'john', 'doe', 'skn']
for x in _list:
    if len(x) == 3:
        print(x)

jin
doe
skn

# Difference between digits part-1

In [26]:

n = int(input("Number: ")) 
diff1 = 0
i = []
if n > 9:
    while n != 0:        
        last = n % 10    
        n = n // 10       
        i.append(last)
i=i[::-1]
for j in range(len(i)-1):
    diff1 = i[j] - i[j+1]   
    print(abs(diff1))

Number: 4562
1
1
4

# part-2

In [18]:
n = input("Number:")
diff = 0
for i in range(len(n)-1):
    diff = int(n[i+1]) - int(n[i])
    print(abs(diff))

Number:658245
1
3
6
2
1

# part-3

In [6]:
# n = int(input("Number: "))
# diff = 0
# while n != 0:
#     remender = n % 10
#     diff = (diff * 10) + remender
#     n //= 10

# while n != 0:
#     if n > 9:
#         remender = n % 10
#         n //= 10
#         print(remender - (n % 10))

Number: 5684

#  A

In [ ]:
'''

  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *   
            
'''

In [16]:
for i in range(7):
    for j in range(5):
        if i == 0 and (j == 0 or j == 4) :
            print(" ",end=" ")
        elif i == 3:
            print("*",end=" ")
        elif i>0 and (j>0 and j<4):
            print(" ",end=" ")

        else:
            print("*",end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [27]:
for row in range(7):
    for col in range(5):
        if ((col == 0 or col == 4) and row != 0) or ((row == 0 or row == 3) and (col>0 and col<4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [32]:
for row in range(7):
    for column in range(5):
        if (column == 0 or column == 4) or ((row == 0 or row == 3 or row == 6) and (column > 0 and column < 4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
* * * * *
*       *
*       *
* * * * *

In [35]:
for row in range(7):
    for column in range(5):
        if (column == 0) or (column == 4 and (row != 0 and row != 3 and row != 6)) or ((row == 0 or row == 3 or row == 6) and (column > 0 and column < 4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [39]:
# rough
for row in range(7):
    for column in range(5):
        if (row == 0 or column == 0 or row == 6) or ((column > 0 and column < 4) and  (row < 1 and row > 3)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*
*
*
*
*
* * * * *

In [41]:

for row in range(7):
    for column in range(5):
        if (column == 0) or ((row == 0 or row == 6) and column > 0) :
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*
*
*
*
*
* * * * *

In [42]:

for row in range(7):
    for column in range(5):
        if (column == 0 and (row != 0 and row != 6) ) or ((row == 0 or row == 6) and column > 0) :
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * * *
*
*
*
*
*
  * * * *

In [9]:
for row in range(0,7):
    for column in range(0,5):
        if (column == 0) or (column == 4 and (row != 0 and row != 6)) or ((row == 0 or row == 6) and (column > 0 and column < 4)):
            print("*", end = " ")
        else:
            print(" ", end =" ")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [55]:
for row in range(1,8):
    for column in range(1,6):
        if (column == 1) or ((row == 1 or row == 4 or row == 7) and (column > 1)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [59]:
for row in range(7):
    for column in range(5):
        if (column == 0) or ((row == 0 or row == 3) and (column > 0)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*
*
* * * * *
*
*
*

In [2]:
for r in range(7):
    for j in range(6):
        if j == 0 or (j == 4 and (r != 1 and r != 2)) or ((r == 0 or r == 6) and (j > 0 and j < 4)) or (r == 3 and (j == 5 or j == 3 )):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*
*
*     * * *
*       *
*       *
* * * * *

In [18]:
for r in range(7):
    for j in range(6):
        if (j == 0 and (r !=0 and r != 6)) or (j == 4 and (r != 1 and r != 2)) or ((r == 0 or r == 6) and (j > 0 and j < 4)) or (r == 3 and (j == 5 or j == 3 )):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * * *
*
*
*     * * *
*       *
*       *
  * * * *

In [19]:
for r in range(7):
    for j in range(6):
        if (j == 0 and (r !=0 and r != 6)) or (j == 4 and (r != 1 and r != 2 and r != 6)) or ((r == 0 or r == 6) and (j > 0 and j < 4)) or (r == 3 and (j == 5 or j == 3 )):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * * *
*
*
*     * * *
*       *
*       *
  * * *

In [23]:
for r in range(7):
    for c in range(5):
        if (c == 0 or c == 4) or (r ==3):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [26]:
for ro in range(7):
    for co in range(5):
        if (ro == 0 or ro == 6) or (co == 2):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [33]:
for R in range(7):
    for C in range(5):
        if (R == 0 and C != 2) or (C == 2) or (R == 6 and C < 3):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
* * *

In [16]:
for R in range(7):
    for C in range(5):
        if (C == 2 and R != 6) or (R == 0 and C != 2) or (R == 6 and C < 2):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
* *

In [2]:
r = 0
j = 4
for Row in range(7):
    for Column in range(5):
        if Column == 0 or ((Row == Column + 2) and Column > 1) :
            print("*",end = " ")
        elif (Row == r and  Column == j) and Column > 0 :
            print("*", end = " ")
            r += 1
            j -= 1
        
        else:
            print(" ", end = " ")
    print()

*       *
*     *
*   *
* *
*   *
*     *
*       *

In [3]:
for rr in range(7):
    for cc in range(5):
        if cc == 0 or (rr == 6 and cc > 0):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*
*
*
*
*
*
* * * * *

In [8]:
for mr in range(7):
    for mc in range(7):
        if (mc == 0 or mc == 6) or (mr == mc and (mc > 0 and mc < 4)) or (mr == 1 and mc == 5) or (mr == 2 and mc == 4):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *

In [11]:
for nr in range(6):
    for nc in range(6):
        if nc == 0 or nc == 5 or ((nr == nc) and (nc > 0 and nc < 5)):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*         *
* *       *
*   *     *
*     *   *
*       * *
*         *

In [14]:
for R in range(7):
    for C in range(5):
        if C == 0 or C == 4 or ((R == 0 or R == 6) and (C > 0 and C < 4)) :
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [19]:
for Ro in range(7):
    for Co in range(5):
        if ((Co == 0 or Co == 4) and (Ro != 0 and Ro != 6)) or ((Ro == 0 or Ro == 6) and (Co > 0 and Co < 4)) :
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

In [22]:
for rp in range(7):
    for cp in range(5):
        if cp == 0 or ((rp == 0 or rp == 3) and (cp > 0 and cp < 4)) or ((cp == 4) and rp < 4) :
            print("*", end = " ")
        else:
            print(" ", end  = " ")
    print()

* * * * *
*       *
*       *
* * * * *
*
*
*

In [20]:
for rp in range(7):
    for cp in range(5):
        if cp == 0 or ((rp == 0 or rp == 3) and (cp > 0 and cp < 4)) or ((cp == 4) and (rp > 0 and rp < 3)) :
            print("*", end = " ")
        else:
            print(" ", end  = " ")
    print()

* * * *
*       *
*       *
* * * *
*
*
*

In [6]:
for  row in range(8):
    for column in range(5):
        if ((column == 0 or column == 4) and (row > 0 and row < 6)) or ((row == 0 or row == 6) and (column > 0 and column < 4)) or (row == 5 and column == 1) or (row ==7 and column == 3):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * *
*       *
*       *
*       *
*       *
* *     *
  * * *
      *

In [13]:
for row in range(7):
    for col in range(5):
        
        if col == 0 or (col == 4 and (row != 0 and row != 3)) or ((row == 0 or row == 3) and (col > 0 and col < 4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
*       *

In [22]:
for r in range(7):
    for c in range(5):
        if ((r == 0 or r == 3 or r == 6) and (c > 0 and c < 4)) or (c == 0 and (r > 0 and r < 3)) or (c == 4 and (r > 3 and r < 6)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * *
*
*
  * * *
        *
        *
  * * *

# By mistake 8

In [21]:
for r in range(7):
    for c in range(5):
        if ((c == 0 or c == 4) and (r != 0 and r != 3 and r != 6)) or ((r == 0 or r == 3 or r == 6) and (c > 0 and c < 4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

  * * *
*       *
*       *
  * * *
*       *
*       *
  * * *

In [25]:
for _row in range(7):
    for _col in range(5):
        if (_row == 0 or (_col == 2 and _row != 0)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

In [27]:
for _r_ in range(7):
    for _c_ in range(5):
        if ((_c_ == 0 or _c_ == 4) and (_r_ != 6)) or  (_r_ == 6 and (_c_ > 0 and _c_ < 4)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

In [48]:
for rrr in range(5):
    for ccc in range(9):
        if (rrr == ccc and ccc < 5) or (rrr + ccc == 8):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*               *
  *           *
    *       *
      *   *
        *

In [6]:
for row in range(4): 
    for col in range(7): 
        if col == 0 or col == 6 or row + col == 3 or( col == 4 and row == 1) or  (col == 5 and row == 2): # True
            print("*", end=" ") #
        else:
            print(" ", end=" ")
    print()

*     *     *
*   *   *   *
* *       * *
*           *

In [9]:
ir = 0
jc = 3
for row in range(4): 
    for col in range(7): 
        if col == 0 or col == 6 or( col == 4 and row == 1) or  (col == 5 and row == 2): # True
            print("*", end=" ") #
        elif row == ir and col == jc:
            print("*", end=" ")
            ir += 1
            jc -= 1
        else:
            print(" ", end=" ")
    print()

*     *     *
*   *   *   *
* *       * *
*           *

In [32]:
for rrr in range(7):
    for ccc in range(7):
        if (rrr == ccc and ccc < 7) or (rrr + ccc == 6):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [11]:
a = 0
b = 4
for rrr in range(5):
    for ccc in range(5):
        if (rrr == a and  ccc == b):
            print("*", end=" ")
            a += 1
            b -= 1
        elif rrr == ccc:
            print("*", end = " ")
        else:
            print(" ", end=" ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [17]:
for yr in range(5):
    for yc in range(5):
        if (yc == 2 and yr > 1) or (yr == yc and yc < 2) or (yr == 0 and yc == 4) or (yr == 1 and yc == 3):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*       *
  *   *
    *
    *
    *

# Z

In [ ]:
'''

*******
     * 
    *  
   *   
  *    
 *     
*******

'''

In [61]:
def _z(n):
    i = 1
    j = n
    for row in range(n+1):
        for column in range(n+1):
            if row == 0 or row == n:
                print("*", end="")
            elif row == i and column == j:
                print("*", end="")
                i += 1
                j -= 1
            else:
                print(" ",end="")
        print()
_z(8)

*********
        *
       *
      *
     *
    *
   *
  *
*********

In [56]:
i = 1
j = 5
for row in range(7):
    for column in range(7):
        if row == 0 or row == 6:
            print("*", end="")
        elif row == i and column == j:
            print("*", end="")
            i += 1
            j -= 1
        else:
            print(end=" ")
    print()

*******
     *
    *
   *
  *
 *
*******

In [24]:
no = 24
for x in range(1,11):
    print(no, "x", x, "=", no * x)
print("-----------------")
no = 50
for x in range(1,11):
    print(no, "x", x, "=", no * x)
print("-----------------")
no = 29
for x in range(1,11):
    print(no, "x", x, "=", no * x)

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240
-----------------
50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500
-----------------
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

# Print A  -  Z (a - z)

In [9]:
for x in range(65, 91):
    print(chr(x), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [13]:
for x in range(97, 123):
    print(chr(x), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [73]:
r = int(input("Number of rows: "))
j = 1
for row in range(1,r+1):
    for column in range(1,j+1):
        print("*", end = " ")
    j += 2
    print()

Number of rows: 6
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *

In [102]:
n = int(input("Number of rows: "))

for rows in range(n, 0, -1):
    for column in range(n-rows):
        print(" ", end=" ")
    for column in range(n):
        print("x", end=" ")

    print()

Number of rows: 9
x x x x x x x x x
  x x x x x x x x x
    x x x x x x x x x
      x x x x x x x x x
        x x x x x x x x x
          x x x x x x x x x
            x x x x x x x x x
              x x x x x x x x x
                x x x x x x x x x

In [7]:
n = int(input("NUMBER OF ROWS: "))
for row in range(n, 0, -1):
    for column in range(0,n-row):
        print("", end=" ")
    for column in range(row):
        print("* ", end=" ")
    print()

NUMBER OF ROWS: 10
*  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *
    *  *  *  *  *  *
     *  *  *  *  *
      *  *  *  *
       *  *  *
        *  *
         *

In [8]:
n = int(input("NUMBER OF ROWS: "))
for row in range(n, 0, -1):

    for column in range(row):
        print("* ", end=" ")
    print()

NUMBER OF ROWS: 10
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [12]:
n = int(input("NUMBER OF ROWS: ")) # 4,

for rows in range(n,0,-1):  #(4,0,-1),
    for column in range(0, n - rows): # (0, 4 - 4),
        print(end=" ")
    for column in range(0,rows):  # (0,4),
        print("*", end=" ")
    print()

NUMBER OF ROWS: 10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [23]:
n = int(input("NUMBER OF ROWS: "))
for row in range(n):
    print(" "*(n-row-1) + "* "*(row+1))
for column in range(n-1,0,-1):
    print(" "*(n-column) + "* "*(column))

NUMBER OF ROWS: 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [22]:
n = int(input("NUMBER OF ROWS: "))
for row in range(n):
    print(" "*(n-row-1) + "* "*(n+1))

NUMBER OF ROWS: 10
         * * * * * * * * * * *
        * * * * * * * * * * *
       * * * * * * * * * * *
      * * * * * * * * * * *
     * * * * * * * * * * *
    * * * * * * * * * * *
   * * * * * * * * * * *
  * * * * * * * * * * *
 * * * * * * * * * * *
* * * * * * * * * * *

In [25]:
n = int(input("Number of Rows: ")) #5

for row in range (n,0,-1): #(5,0,-1)
    for column in range (row):
        print("x", end=" ")
    print()

Number of Rows: 10
x x x x x x x x x x
x x x x x x x x x
x x x x x x x x
x x x x x x x
x x x x x x
x x x x x
x x x x
x x x
x x
x

In [23]:
string = input("Enter a Word: ") # Python
length = len(string) # 6

for row in range(length): # 6
    for col in range(row + 1): # 7
        print(string[col], end =" ")  # 
    print()

Enter a Word: official tech
o
o f
o f f
o f f i
o f f i c
o f f i c i
o f f i c i a
o f f i c i a l
o f f i c i a l
o f f i c i a l   t
o f f i c i a l   t e
o f f i c i a l   t e c
o f f i c i a l   t e c h

In [28]:
s = "CODE"
l = len(s)
for row in range(l):
    for col in range(row + 1):
        print(s[col], end ="")

CCOCODCODE

In [35]:
r = int(input("Rows: "))

for row in range(r):
    for col in range(row+1):
        print(format(col, "<2"), end=" ")
    print()

Rows: 9
0
0    1
0    1    2
0    1    2    3
0    1    2    3    4
0    1    2    3    4    5
0    1    2    3    4    5    6
0    1    2    3    4    5    6    7
0    1    2    3    4    5    6    7    8

In [50]:
rr = int(input("ROW: "))

for row in range(rr):
    print(" "*(rr - row - 1) + "* "*(row + 1))

ROW: 17
                *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *
         * * * * * * * *
        * * * * * * * * *
       * * * * * * * * * *
      * * * * * * * * * * *
     * * * * * * * * * * * *
    * * * * * * * * * * * * *
   * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *

In [55]:
for row in range(rr):
    print(" "*(rr - row - 1) + "* "*(row + 1))
for col in range(rr, 0, -1):
    print("* "*col + " "*col)

                *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *
         * * * * * * * *
        * * * * * * * * *
       * * * * * * * * * *
      * * * * * * * * * * *
     * * * * * * * * * * * *
    * * * * * * * * * * * * *
   * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*