## tuple

tuple is a collection of homogenous and hetrogenous objects.

tuple is immutable. You cannot change elements of a tuple once it is assigned.

There are only 2 tuple methods that tuple objects can call: count and index.

In [4]:
t = ()
print(t)
print(type(t))
print(id(t))

()
<class 'tuple'>
2038958194760

In [9]:
t1 = (80, 90, 10, 12, 14)
print(t1)
print(t1[-1])
print(t1[0])
print(t1[2])

(80, 90, 10, 12, 14)
14
80
10

We can not modify the tuple

In [10]:
t2 = (2, 4, 6, 8, 0)
t[-1] = 10

TypeError: 'tuple' object does not support item assignment

In [13]:
t2 = (2, 4, 6, 8, 0)
t3 = (3, 6, 9, 12)

t4 = t2 + t3 # addition of tuple
print(t4)
print("t2---", t2)
print("t3---", t3)

(2, 4, 6, 8, 0, 3, 6, 9, 12)
t2--- (2, 4, 6, 8, 0)
t3--- (3, 6, 9, 12)

In [24]:
t5 = ("jb", "jin", "chao", 808, 944)
t6 = (1010, 933, 943, 956, "pks")
t7 = (t6 + t5) # see the element, first t6 agter that t5 
print("t7--->", t7)

print("-"*90)
t8 = t5 * 3
print(t8)

t7---> (1010, 933, 943, 956, 'pks', 'jb', 'jin', 'chao', 808, 944)
------------------------------------------------------------------------------------------
('jb', 'jin', 'chao', 808, 944, 'jb', 'jin', 'chao', 808, 944, 'jb', 'jin', 'chao', 808, 944)

In [33]:
t9 = (10, 20.001, "jin chao", 40, False, 70, None)
print(t9)
print("0 -->", t9[0])
print("all -->", t9[::])
print("reverse -->", t9[::-1])
print("2 to 5", t9[2:6]) # last element is excluded!

(10, 20.001, 'jin chao', 40, False, 70, None)
0 --> 10
all --> (10, 20.001, 'jin chao', 40, False, 70, None)
reverse --> (None, 70, False, 40, 'jin chao', 20.001, 10)
2 to 5 ('jin chao', 40, False, 70)

# we can declare tuple without parenthesis called packing

In [52]:
jb = 100,00,000 # packing 
print(jb)




jin, chao, gafy = jb # unpacking
print(jin, type(jin))
print(chao)
print(gafy)

(100, 0, 0)
100 <class 'int'>
0
0

In [40]:
# using functions on tuple

t10 = "official", "tech", 300.98, 23
print(type(t10))
print(t10)

t11 = (1, 11, 111, 1111, 11111.0)
print()
print("sum ", sum(t11))
print("min ", min(t11))
print("max ", max(t11))

<class 'tuple'>
('official', 'tech', 300.98, 23)

sum  12345.0
min  1
max  11111.0

In [41]:
# for statement on tuple

t12 = ("addition", "operator", "sum", "function")
for elements in t12:
    print(elements)

addition
operator
sum
function

In [46]:
alert = (10)
print(alert)
print(type(alert))

print()
print("These are not a tuples ABOVE and BELOW")
print()

alert1 = ("string")
print(alert1)
print(type(alert1))

print()
print("To become a tuple it must be like Below: ")

alert2 = (12, )
print(type(alert2))
print(alert2)

print("-------------------------")
alert3 = ("string and", )
print(alert3)
print(type(alert3))

10
<class 'int'>

These are not a tuples ABOVE and BELOW

string
<class 'str'>

To become a tuple it must be like Below:
<class 'tuple'>
(12,)
-------------------------
('string and',)
<class 'tuple'>

# tuple class methods

<pre>T.count(value) -> integer -- return number of occurrences of 
value

In [87]:


t13 = 1.00, 22, 333, 4444, 55555, 22, 1, 22.0, 'a', 'p', 'p', 'l', 'e'
print("Type of given t13 tuple is", type(t13))


c_o = t13.count(22.0) # returns count object and storing to c_o
print(c_o)

a_c = t13.count('p')
print("p ki jangadna ho gyi p ", a_c, " baate.")

Type of given t13 tuple is <class 'tuple'>
3
p ki jangadna ho gyi p  2  baate.

#### T.index(value, [start, [stop]]) -> integer -- return first index of value.

In [98]:
t14 = ('mouse', 1, 1, 2, ['puppy', 'jhappi', 'gappi', 1], ('sweet', 'potato', 123.9), 'susi')
print(t14, type(t14))
c_ = t14.index(1) # it will find given element which occur first 
print(c_)



t14[4][2] = 'radius'
print(t14)

del t14[4][2] # listen carefully, again i am reminding you, only listen can be deleted either it will inside tuple 0_0
print(t14)

# del t14[2][2] # it can't possible to delete tuple elements

('mouse', 1, 1, 2, ['puppy', 'jhappi', 'gappi', 1], ('sweet', 'potato', 123.9), 'susi') <class 'tuple'>
1
('mouse', 1, 1, 2, ['puppy', 'jhappi', 'radius', 1], ('sweet', 'potato', 123.9), 'susi')
('mouse', 1, 1, 2, ['puppy', 'jhappi', 1], ('sweet', 'potato', 123.9), 'susi')

In [101]:
t15 = "water", "is", "so", "precious", "so", "do", "not", "waste", "it"
s = "so" in t15
print(s)

print("----------------------------------------------------------------")
print("it" not in t15)

True
----------------------------------------------------------------
False

In [111]:
t16 = ("A", "a", "B", "v", 1.0, 1, 1.000000000009, 1)
print(t16.count(1))

3